/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
button {
	font-family: inherit;
	border: none;
}
/* Remove spinner from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*  */

:root {
	--hue: 200;
	--primary: hsl(calc(var(--hue) - 10), 67%, 65%);
	--primary-dark: hsl(var(--hue), 100%, 15%);
	--primary-light: hsl(var(--hue), 70%, 82%);
	--grey-dark: hsl(var(--hue), 14%, 43%);
	--grey: hsl(var(--hue), 14%, 56%);
	--grey-light: hsl(var(--hue), 41%, 84%);
	--grey-lighter: hsl(var(--hue), 41%, 97%);
	--bg: hsl(185, 41%, 84%);
	--redlight: hsl(0, 54%, 65%);

	font-family: 'Space Mono';
}

body {
	min-height: 100vh;
	background-color: var(--bg);
}

.calc {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 900px;
	gap: 20px;
	padding: 25px;
	background-color: white;
	border-radius: 20px 20px 0px 0px;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: var(--primary-dark);
	border-radius: 16px;
}

.card__button {
	background-color: var(--primary);
	width: 100%;
	margin-top: auto;
	padding: 8px;
	border-radius: 6px;
	text-transform: uppercase;
	color: var(--primary-dark);
	font-size: 1.2rem;
	transition: background-color ease-out 100ms, color ease-out 100ms;
}

.card__button:active {
	background-color: var(--grey-light);
}

.card__container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;
}

.card__label {
	color: white;
}

.card__metric {
	color: var(--primary);
	font-size: 2rem;
}

.card__subtitle {
	color: var(--grey);
	font-size: 0.8rem;
}

.form {
	color: var(--grey-dark);
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.form__button {
	background-color: var(--primary-dark);
	text-align: center;
	color: white;
	font-size: 1.6rem;
	border-radius: 6px;
}

.form__button:active {
	cursor: pointer;
	background-color: var(--primary-light);
	color: var(--primary-dark);
}

.form__button--active {
	background-color: var(--primary);
	color: var(--primary-dark);
}

.form__container {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.form__container-grid {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	gap: 10px;
}

.form__icon {
	position: absolute;
	top: 16px;
	left: 16px;
}

.form__input {
	background-color: var(--grey-lighter);
	color: var(--primary-dark);
	border: none;
	flex-basis: 100%;
	font-family: 'Space Mono';
	font-size: 1.6rem;
	text-align: right;
	width: 100%;
	padding: 5px 20px;
	border-radius: 6px;
}

.form__input:active {
	outline: solid 1px var(--primary);
}

.form__input:focus {
	outline: solid 2px var(--primary);
}

.form__input:invalid {
	outline: solid 2px var(--redlight);
}

.form__input--custom::placeholder{
	color: var(--grey);
	font-size: 1.3rem;
}

.form__label--spaced {
	margin-top: 20px;
}

.form__label--error {
	color: var(--redlight);
}

.page {
	display: flex;
	flex-direction: column;
	min-width: 355px;
}

.page__title {
	user-select: none;
	display: flex;
	position: relative;
	max-width: 900px;
	margin-left: calc(max(0px, (100vw - 900px) / 2));
}

.page__logo {
	margin: 45px auto;
}

.theme {
	position: absolute;
	top: 40px;
	right: 25px;
	padding: 10px;
	border-radius: 10px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	stroke: var(--grey);
}

.theme--active {
	background-image: linear-gradient(
		to right,
		var(--grey-lighter) 0%,
		var(--grey-light) 100%
	);
	width: unset;
	height: unset;
	box-shadow: 0 0px 8px rgba(87, 87, 87, 0.349);
}

.theme__item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.9rem;
}

.theme__label {
	color: var(--grey);
}

.theme__icon {
	width: 40px;
	margin-left: auto;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 4px;
	transition: background-color ease-out 100ms;
}

.theme__icon:active {
	background-color: rgba(255, 255, 255, 0.5);
}

.theme__picker {
	width: 160px;
	height: 10px;
	border-radius: 50px;
	
	/* Copied from https://www.youtube.com/watch?v=yjRv73QZ7tw */
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background-image: linear-gradient(
		to right,
		hsl(0, 100%, 50%) 0%,
		hsl(30, 100%, 50%) 8%,
		hsl(60, 100%, 50%) 16%,
		hsl(90, 100%, 50%) 25%,
		hsl(120, 100%, 50%) 33%,
		hsl(150, 100%, 50%) 41%,
		hsl(180, 100%, 50%) 50%,
		hsl(210, 100%, 50%) 58%,
		hsl(240, 100%, 50%) 66%,
		hsl(270, 100%, 50%) 75%,
		hsl(300, 100%, 50%) 83%,
		hsl(330, 100%, 50%) 91%,
		hsl(360, 100%, 50%) 100%
	);
}

.theme__picker::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.theme__picker::-webkit-slider-thumb {
	appearance: none;
	height: 16px;
	width: 8px;
	border: solid 1px white;
	outline: solid 1px var(--grey);
	background-color: rgba(221, 221, 221, 0.808);
	border-radius: 100vmax;
	cursor: ew-resize;
}

@media screen and (min-width: 800px) {
	.calc {
		display: grid;
		grid-template: 1fr / repeat(2, 1fr);
		border-radius: 20px;
	}
	
	.page {
		padding-top: calc(max(200px, (100vh - 600px)) / 2);
	}

	.page__title {
		margin-top: 0px;
		margin-bottom: 80px;
	}

	.form {
		padding: 0px;
	}

	.form__container-grid {
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	}

	.card__metric {
		font-size: 3rem;
	}
}

@media (hover: hover) {
	.card__button:hover {
		cursor: pointer;
		background-color: var(--grey-light);
	}

	.form__button:hover {
		cursor: pointer;
		background-color: var(--primary-light);
		color: var(--primary-dark);
	}

	.form__input:hover {
		outline: solid 1px var(--primary);
	}
	
	.theme__icon:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}
}
